$paars: #822085
$tekst: #340535
$groen: #6CB62B
$lichtgrijs: #F5F5F5
$mediumgrijs: #BDBDBD
$donkergrijs: #455A64
$wit: #FFFFFF

%mobile-padding
  padding: 0 2%

%section-bottom-margin
  margin-bottom: 30px
