.subheader
  
#mobile-header.overlay
  a.closebtn(
    href='javascript:void(0)'
    onclick='closeNav()'
    ) x
  .overlay-content
    a(href="#") Nieuws
    a(href="#") Sportief
    a(href="#") Jeugdinfo
    a(href="#") Event
    a(href="#") Events
.header     
  .logo
    img(src='../img/svw-logo.png')
  .menu
    .nav-icon(
    onclick='openNav()'
    ) 
      .line-one 
      .line-two 
      .line-three 
