.section-news
  .news-item
    img(src='https://via.placeholder.com/1500x700')
    h3 titel van het newsbericht
    p excerpt van het nieuwbericht - hier komt een intro over het nieuwsbericht
    span tag of categorie
  .news-item
    img(src='https://via.placeholder.com/1500x700')
    h3 titel van het newsbericht
    p excerpt van het nieuwbericht - hier komt een intro over het nieuwsbericht
    span tag of categorie
  .news-item
    img(src='https://via.placeholder.com/1500x700')
    h3 titel van het newsbericht
    p excerpt van het nieuwbericht - hier komt een intro over het nieuwsbericht
    span tag of categorie
