.single-container
  h1 Titel van een nieuwsbericht
  .single-featured-image
    img(src='https://via.placeholder.com/1500x900')
  .single-excerpt
    p single-excerpt
    p single-excerpt
  .single-content
    p tekst over de page
    p nog meer bodytekst
    p tekst tekst 
    p inhoud van een nieuwsbericht
    
