.section-sportief
  h1 Sportieve info
  .jeugdploegen
    h4 Bovenbouw
    ul
      li: a(href='#') U18
      li: a(href='#') U17  
      li: a(href='#') U17 Gew
      li: a(href='#') U16
      li: a(href='#') U15
      li: a(href='#') U15 Gew
      li: a(href='#') U14
    h4 Middenbouw
    ul
      li: a(href='#') U13
      li: a(href='#') U12
      li: a(href='#') U11
      li: a(href='#') U10
    h4 Onderbouw
    ul
      li: a(href='#') U9
      li: a(href='#') U8
      li: a(href='#') U7
      li: a(href='#') U6
      
      
  .sportief-content
    p eerste content block
  .sportief-content
    p 2e content block
