.section-svw-in-beeld
  h1 SVW in beeld
  
  .reportage
    a(href="#")
      img(src='https://via.placeholder.com/1500x900')
      h3 Fotoreportage
      p 12 december 2018 - 
  .reportage
    a(href="#")
      img(src='https://via.placeholder.com/1500x900')
      h3 Fotoreportage
      p 12 december 2018 - 
  .reportage
    a(href="#")
      img(src='https://via.placeholder.com/1500x900')
      h3 Fotoreportage
      p 12 december 2018 - 
