.ploegpagina-container
  h1 Jeugdploeg: U9
  .ploeg-foto
    img(src='https://via.placeholder.com/1500x900')
  .ploeg-trainers
    h3 Trainers
    ul
      li Bjorn Decock
      li Kenny Vanbecelaere
      li Arent Bulcaen
  .ploeg-info
    h3 ploeg info
    p ploeg-info
    p trainingen
    p team managers
    p ...
  .ploeg-kalender
    h3 Speelkalender
    p ploeg-kalender
